{% extends 'templates_dashboard/templates_admin/citas_admin.html' %}
{% block modulo_de_calendario %}
<form id="citaFormulario" class="card shadow mb-4" action="" method="post">
    <div class="card-body">
      <h5 class="card-title" id="formularioTitulo">Editar Cita</h5>
      <div class="mb-3">
        <label for="paciente" class="form-label">Paciente</label>
        <select class="form-select" id="paciente" name="paciente" required>
          <option value="">Seleccione un paciente</option>
          <option value="1">Paciente 1</option>  
          <option value="2">Paciente 2</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="medico" class="form-label">Médico</label>
        <select class="form-select" id="medico" name="medico" required>
          <option value="">Seleccione un médico</option>
          <option value="1">Dr. Juan Pérez</option> 
          <option value="2">Dra. Ana Gómez</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="fecha" class="form-label">Fecha</label>
        <input type="date" class="form-control" id="fecha" name="fecha" required>
      </div>
      <div class="mb-3">
        <label for="hora" class="form-label">Hora</label>
        <input type="time" class="form-control" id="hora" name="hora" required>
      </div>
      <div class="mb-3">
        <label for="motivo" class="form-label">Motivo de la consulta</label>
        <textarea class="form-control" id="motivo" name="motivo" rows="3"></textarea>
      </div>
      <div class="mb-3">
        <label for="estado_cita" class="form-label">Estado de la Cita</label>
        <select class="form-select" id="estado_cita" name="estado_cita" required>
          <option value="">Seleccione</option>
          <option value="1">Pendiente</option> 
          <option value="2">Reprogramada</option>
          <option value="3">Completada</option>
        </select>
      </div>
      <a href="" type="submit" class="btn btn-primary" id="guardarBtn">Actualizar</a>
      <a href="{{ url_for('crear_cita_admin') }}" type="reset" class="btn btn-secondary" id="cancelarBtn">Cancelar</a>
    </div>
  </form>
  {% endblock %}