/* Estilos para los toasts y alertas */
.toast {
    opacity: 0.95 !important;
    border-radius: 10px !important;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15) !important;
    z-index: 9999 !important;
}

.bg-warning {
    background: linear-gradient(45deg, #ffc107, #fd7e14) !important;
    color: #000 !important;
}

.bg-danger {
    background: linear-gradient(45deg, #dc3545, #c71f37) !important;
}

.bg-success {
    background: linear-gradient(45deg, #28a745, #20c997) !important;
}


.toast .toast-body {
    font-size: 0.95rem;
    padding: 0.75rem 1rem;
}

.toast .bi {
    font-size: 1.1rem;
}

.dropdown-menu .dropdown-item svg {
    fill: white;
} 