 /* Ocultar todas las secciones por defecto */
 .contenido {
    display: none;
    padding-top: 15px;
}

/* Mostrar la sección cuando su radio button está seleccionado */
#btn-historia:checked ~ #historia,
#btn-mision:checked ~ #mision,
#btn-vision:checked ~ #vision,
#btn-valores:checked ~ #valores {
    display: block;
}

/* Ocultar los radio buttons */
input[type="radio"] {
    display: none;
}

#btnTop {
    position: fixed;
    bottom: 70px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #296ce0;
    border: none;
    color: white;
    font-size: 24px;
    display: none; /* Ocultar al inicio */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

#btnTop:hover {
    background-color: #1f4a89;
}