@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Serif+Text:ital@0;1&family=Headland+One&display=swap');
/* Estilos generales del cuerpo */
body {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrar contenido */
    align-items: center; /* Centrar horizontalmente */
    min-height: 100vh; /* Altura mínima para ocupar toda la pantalla */
    margin: 0;
}

header {
    width: 100%;
    padding: 20px;
    background-color: #2956a3;
    color: white;
}

h2{
margin-bottom: -5px;
}

.archivo-black-regular-titulo {
    font-family: "Archivo Black", serif;
    font-weight: 400;
    font-style: normal;
  }
.dancing-script-text {
    font-family: "Dancing Script", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
    color: #68d447;
    margin-top: 0;
}

.dm-serif-text-regular-italic-bn {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: italic;
  }

.container {
    flex-grow: 1;
    min-height: 100vh; /* Hace que el contenedor ocupe toda la altura */
    display: flex;
    flex-direction: column;
}

/* Fondo degradado de la sección de información de contacto */
.gradient-brand-color {
    background-image: -webkit-linear-gradient(0deg, #2956a3 0%, #439bff 100%);
    background-image: -ms-linear-gradient(0deg, #2956a3 0%, #439bff 100%);
    color: #fff;
}

/* Contenedor de información de contacto con bordes redondeados */
.contact-info__wrapper {
    overflow: hidden;
    border-radius: .625rem .625rem 0 0;
}

/* Ajuste del contenedor en pantallas grandes */
@media (min-width: 1024px) {
    .contact-info__wrapper {
        border-radius: 0 .625rem .625rem 0;
        padding: 5rem !important;
    }
}

/* Posicionamiento del icono en la lista de contacto */
.contact-info__list span.position-absolute {
    left: 0;
}

/* Control de capas */
.z-index-101 {
    z-index: 101;
}

/* Elimina los estilos de lista predeterminados */
.list-style--none {
    list-style: none;
}

/* Contenedor principal del formulario con bordes redondeados */
.contenedor-login {
    background-color: #fff;
    border-radius: 0 0 .625rem .625rem;
}

/* Ajuste del contenedor en pantallas grandes */
@media (min-width: 1024px) {
    .contact__wrapper {
        border-radius: .625rem 0 .625rem .625rem;
    }
}

/* Ajuste del espacio del formulario en pantallas grandes */
@media (min-width: 1024px) {
    .contact-form__wrapper {
        padding: 5rem !important;
    }
}

/* Sombra para darle profundidad al contenedor */
.shadow-lg, .shadow-lg--on-hover:hover {
    box-shadow: 0 1rem 3rem rgba(132,138,163,0.1) !important;
}

footer {
    bottom: 0;
    width: 100%;
    background-color: #2956a3;
    color: white;
    text-align: center;
    padding: 1rem 0;
}