{% extends 'base.html' %}
{% block content %}
<nav class="bg-dark navbar-dark">
    <div class="container">
      <a href="" class="navbar-brand"><i class="fas fa-tree mr-2"></i></a>
    </div>
    </nav>
     <section id="header" class="jumbotron text-center">
       <h1 class="display-3">Empleados</h1>
       <p class="lead">Hola soy el empleado Carlos</p>
  </section>
    
  <section id="gallery">
    <div class="container">
      <div class="row">
      <div class="col-lg-4 mb-4">
      <div class="card">
        <img src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60" alt="" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Galleria</h5>
          <p class="card-text">Aqui van la imagenes</p>
         <a href="" class="btn btn-outline-success btn-sm">Ver</a>
        </div>
       </div>
      </div>
    <div class="col-lg-4 mb-4">
    <div class="card">
        <img src="https://images.unsplash.com/photo-1516214104703-d870798883c5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60" alt="" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Servicios</h5>
          <p class="card-text">Aqui van los servicios</p>
         <a href="" class="btn btn-outline-success btn-sm">Ver</a>
        </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
      <div class="card">
        <img src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60" alt="" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Nosotros</h5>
          <p class="card-text">Informacion de nosotros</p>
         <a href="" class="btn btn-outline-success btn-sm">Ver</a>
        </div>
       </div>
      </div>
    </div>
  </div>
  </section>
  {% endblock %}
  