{% extends "base.html" %}
{% block titulo %}
Editar juego
{% endblock %}
{% block contenido %}
<div class="container my-4 vh-100">
    <div class="row">
        <div class="col-md-6">
            <h3 class="h3">Editar juego</h3>
            <form action="{{url_for('actualizar_juego')}}" method="post">
                <input type="hidden" name="id" value="{{juego[0]}}">
                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre:</label>
                    <input value="{{juego[1]}}" required type="text" class="form-control" placeholder="Nombre" name="nombre" id="nombre">
                </div>
                <div class="mb-3">
                    <label for="descripcion" class="form-label">Descripción:</label>
                    <input value="{{juego[2]}}" required type="text" class="form-control" placeholder="Descripción" name="descripcion" id="descripcion">
                </div>
                <div class="mb-3">
                    <label for="precio" class="form-label">Precio:</label>
                    <input value="{{juego[3]}}" required type="number" class="form-control" placeholder="Precio" name="precio" id="precio">
                </div>
                <div class="d-flex gap-2">
                    <button type="submit" class="btn"><img src="{{ url_for('static', filename='img/guardar.png')}}" alt="" width="45" height="45"></button>
                    <a href="{{url_for('juegos')}}" class="btn"><img src="{{ url_for('static', filename='img/volver.png')}}" alt="" width="45" height="45"></a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}