{% extends 'templates_dashboard/templates_admin/factura_admin.html' %}
{% block modulo_de_factura %}
<form id="factura_formulario" class="card shadow mb-4" action="" method="post">
  <div class="card-body">
    <h5 class="card-title" id="formularioTitulo">Crear Factura</h5>
    <div class="row">
      <div class="col-md-6">
        <div class="mb-3">
          <label for="nombre" class="form-label">Nombres</label>
          <input type="text" class="form-control" id="nombre" name="nombre" required>
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-3">
          <label for="fecha_emision" class="form-label">Fecha de Emisión</label>
          <input type="date" class="form-control" id="fecha_emision" name="fecha_emision" required>
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-3">
          <label for="paciente" class="form-label">Paciente</label>
          <select class="form-control" id="paciente" name="paciente" required>
            <option value="">Seleccione...</option>
            <option value="paciente1">Paciente 1</option>
            <option value="paciente2">Paciente 2</option>
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-3">
          <label for="numero_documento" class="form-label">Número de Documento</label>
          <input type="number" class="form-control" id="numero_documento" name="numero_documento" required>
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-3">
          <label for="medico" class="form-label">Médico</label>
          <input class="form-control" id="medico" name="medico"></input>
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-3">
          <label for="servicio" class="form-label">Servicio Prestado</label>
          <textarea class="form-control" id="servicio" name="servicio"></textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="mb-3">
          <label for="servicio_cantidad" class="form-label">Cantidad de Servicios Prestados</label>
          <input type="number" class="form-control" id="servicio_cantidad" name="servicio_cantidad" required>
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-3">
          <label for="precio" class="form-label">Precio Unitario</label>
          <input type="number" class="form-control" id="precio" name="precio" required>
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-3">
          <label for="total" class="form-label">Total a Pagar</label>
          <input type="number" class="form-control" id="total" name="total" required>
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-3">
          <label for="tipo_pago" class="form-label">Método de Pago</label>
          <select class="form-control" id="tipo_pago" name="tipo_pago" required>
            <option value="">Seleccione...</option>
            <option value="Tarjeta">Tarjeta</option>
            <option value="Efectivo">Efectivo</option>
            <option value="Transferencia">Transferencia</option>
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-3">
          <label for="estado" class="form-label">Estado del Pago</label>
          <select class="form-control" id="estado" name="estado" required>
            <option value="">Seleccione...</option>
            <option value="Pagado">Pagado</option>
            <option value="Pendiente">Pendiente</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div>
        <button type="submit" class="btn btn-primary me-2" id="guardarBtn">Guardar</button>
        <a href="{{ url_for('dashboard_admin') }}" class="btn btn-secondary" id="cancelarBtn">Cancelar</a>
      </div>
    </div>
  </div>
</form>

  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>#</th>
          <th>Numero</th>
          <th>Paciente</th>
          <th>Medico</th>
          <th>Fecha</th>
          <th>Metodo</th>
          <th>Total</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody id="medicosTabla">
        <tr>
          <td>1</td>
          <td>FT100</td>
          <td>Carlos</td>
          <td>Maria</td>
          <td>10-05-2025</td>
          <td>Efectivo</td>
          <td>100.000</td>
          <td>Pendiente</td>
          <td>
            <a href="{{ url_for('editar_factura_admin') }}" class="btn btn-sm btn-warning">Editar</a>
            <a href="#" class="btn btn-sm btn-danger">Eliminar</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
{% endblock %}