{% extends 'templates_dashboard/base_dashboard_paciente.html' %}
{% block content %}
<div id="loading-screen">
  <img src="{{ url_for('static', filename='img/icono.png')}}" alt="Cargando">
  <p>MEDICITAS Plus...</p>
</div>
<main id="main-content" class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="container-lg mt-5 mb-3">
    <div class="row justify-content-center mt-4">
      <div class="col-md-6 mb-5 text-center">
        <h2 class="titulo">Inicio</h2>
        <hr class="titulo_hr">
      </div>
    </div>

    <!-- Tarjetas de Acceso Rápido -->
    <div class="row">
      <div class="col-md-6 mb-3">
        <div class="card bg-light shadow-sm h-100">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">📅 Mis Citas</h5>
            <p class="card-text">Ver citas programadas.</p>
            <a href="{{ url_for('citas_paciente') }}" class="btn btn-primary mt-auto">Ver Mis Citas</a>
          </div>
        </div>
      </div>

      <div class="col-md-6 mb-3">
        <div class="card bg-light shadow-sm h-100">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">📄 Mi Historia</h5>
            <p class="card-text">Consultar Mis registros.</p>
            <a href="{{ url_for('historia_paciente') }}" class="btn btn-primary mt-auto">Ver Mi Historia Clínicas</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 mb-3">
        <div class="card bg-light shadow-sm h-100">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">📝 Pagos</h5>
            <p class="card-text">Ver Mis Pagos.</p>
            <a href="{{ url_for('pagos') }}" class="btn btn-primary mt-auto">Ver Información</a>
          </div>
        </div>
      </div>

      <div class="col-md-6 mb-3">
        <div class="card bg-light shadow-sm h-100">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">⚙️ Mi Perfil</h5>
            <p class="card-text">Editar datos personales.</p>
            <a href="{{ url_for('perfil_paciente') }}" class="btn btn-primary mt-auto">Editar Perfil</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</main>
<script src="{{ url_for('static', filename='js/cargar_pantalla.js')}}"></script>
{% endblock %}