{% extends 'templates_login/base.html' %}
{% block content %}
<!-- Contenedor principal -->
<div class="container d-flex flex-column justify-content-center align-items-center min-vh-100">
    <div class="contenedor_login shadow-lg w-100" style="max-width: 800px;">
        <div class="row no-gutters">
            <!-- Sección del logo e información -->
            <div class="col-lg-5 contact-info__wrapper gradient-brand-color p-5 order-lg-2 text-center">
                <h1 class="dm-serif-text-regular-italic-bn color--white">Recuperar Contraseña</h1>
                <div>
                    <img src="{{ url_for('static', filename='img/logo_login.png')}}" alt="Logo de la empresa" class="img-fluid" style="max-width: 200px; border-radius: 50%;" width="130" height="130">
                </div>  
            </div>

            <!-- Sección del formulario de recuperación -->
            <div class="col-lg-7 contact-form__wrapper p-5 order-lg-1">
                <form action="#" class="contact-form form-validate dm-serif-text-regular-italic-bn" novalidate>
                    <fieldset>
                        <legend class="mb-4">Recuperar Contraseña</legend>
                        
                        <!-- Campo de correo electrónico -->
                        <section class="mb-3">
                            <label class="required-field" for="email">Correo Electrónico</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="usuario@correo.com" required>
                        </section>
                        
                        <!-- Botón de recuperación -->
                        <section class="mt-4 mb-3">
                            <button type="submit" name="submit" class="btn btn-primary w-100">Recuperar Contraseña</button>
                        </section>

                        <!-- Enlace para volver al inicio de sesión -->
                        <section class="mt-3">
                            <p>¿Ya tienes tu contraseña? <a href="{{ url_for('login') }}" class="text-link">Inicia sesión</a></p>
                        </section>
                        
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
